# Instalar Odoo 17 directamente desde el repositorio oficial de GitHub
https://github.com/odoo/odoo/archive/refs/heads/17.0.zip

# Dependencias necesarias
psycopg2-binary
Pillow
lxml
lxml-html-clean
python-dateutil
requests
Jinja2
Werkzeug
MarkupSafe
Babel
greenlet
pytz
num2words
