# Odoo 17 y todas sus dependencias
odoo
psycopg2-binary
Pillow
lxml
lxml-html-clean
python-dateutil
requests
Jinja2
Werkzeug
MarkupSafe
Babel
greenlet
python-stdnum
pyserial
vatnumber
zeep
xlrd
pyopenssl
cryptography
passlib
pydot
polib
pyparsing
pypdf2
reportlab
gevent
psutil
pytz
num2words
ofxparse
qrcode
xlwt
decorator
docutils
ebaysdk
freezegun
google-auth
google-auth-oauthlib
idna
jaraco.classes
jeepney
keyring
ldap3
libsass
lxml
more-itertools
oauthlib
paramiko
pbr
phonenumbers
pyasn1
pyasn1-modules
pycparser
pydantic
pyjwt
pynacl
pyodbc
pyproject-hooks
pyspf
python-ldap
redis
requests-oauthlib
requests-toolbelt
rjsmin
secretstorage
soupsieve
tablib
urllib3
vobject
wikipedia-api
xlsxwriter
xlwt
zope.interface
